@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300');


* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
	 color: black;
	 font-weight: 300;
}

body ::-webkit-input-placeholder {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}
body :-moz-placeholder {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}
body ::-moz-placeholder {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}
body :-ms-input-placeholder {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}
.wrapper {
    background: #50a3a2;
    background: -webkit-linear-gradient(top left,#50a3a2 0%,#53e3a6 100%);
    background: -moz-linear-gradient(top left,#50a3a2 0%,#53e3a6 100%);
    background: -o-linear-gradient(top left,#50a3a2 0%,#53e3a6 100%);
    background: linear-gradient(to bottom right,#50a3a2 0%,#53e3a6 100%);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.wrapper.form-success .container h1 {
    transform: translateY(85px);
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 80px 0;
    height: 400px;
    text-align: center;
    background: linear-gradient(rgba(51, 58, 69, 0.9), rgba(0, 0, 0, 0.8)), #686868;
}

.form-header{
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 5rem;
}

form {
    display:flexbox;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
    z-index: 2;
}
form input {
    display: block;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255,255,255,0.4);
    background-color: rgba(255,255,255,0.2);
    width: 100%;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    text-align: center;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
}
form input:hover {
    background-color: rgba(255,255,255,0.4);
}
form input:focus {
    background-color: white;
    width: 120%;
    color: #53e3a6;
}
form button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}
form button:hover {
    background-color: #f5f7f9;
}

html{
    scroll-behavior: smooth;
}

.donate-button{
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}
.donate-button:hover{
    background-color: #f5f7f9;
}

.brand-title{
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    margin: 10px 50px;
    margin-bottom: 15px;
    margin-left: 2%;

}

nav a{
    text-decoration: none;
    color: white;
}
nav a::after{
    text-decoration: none;
}

nav {
    padding-left: 100px;
    padding-right: 100px;
}

nav,
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav {
    background-color: #283646;
    height: 80px;
}

nav ul li {
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: yellowgreen;
}

@media only screen and (max-width: 768px) {
    nav {
        padding: unset !important
    }
}

@media only screen and (max-width: 576px) {
    nav,
    nav ul {
        height: auto;
        display: flex;
        flex-flow: column wrap;
    }
    nav ul li {
        width: 100%;
    }
    nav ul li a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
    }
    nav ul li a:hover {
        color: white;
        background-color: yellowgreen;
    }
}


.about{
    height: 100vh;
    
}

.home{
    height: 100vh;
    background: url("https://csrbox.org/full_stories_img/1528786858Sanitary%20Pad%20Donation%20(8).JPG");
    filter: brightness(40%)
}