* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(3, 103, 143);
    color: white;
    
}

.brand-title{
    font-size: 1.5rem;
    margin: .5rem 50px;
    margin-bottom: 15px;

}

.navbar-links ul{
    margin: 0 50px;
    margin-bottom: 15px;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;

}

.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover{
    background-color: rgb(1, 54, 75);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;

    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        padding: 0.5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }

    .toggle-button:hover{
        background-color: #666;
    }
}